.cabecera{
  text-align: center;
}

.titulo{
  color: red;
  text-transform: uppercase;
  text-decoration: underline;
}

p{
  color: white;
}

h1{
  color: deepskyblue;
}

h2{
  color: blue;
}

.tabla1{
  background-color: aqua;
  color: white;
}

.tabla2{
  background-color: black;
}

.tabla3{
  background-color: black;
}

.pag_secundaria{
  position: fixed; 
  right: 0;
  bottom: 0; 
  margin:10px;
}