<ion-header [translucent]="true" class="cabecera">
  <ion-toolbar>
    <ion-title class="titulo">
      Spotify_App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>LISTA DE MUSICAS</h1>
  <ion-list>
    <ion-item *ngFor="let documentMusica of arrayColeccionMusicas" (click)="selecMusica(documentMusica)">

      <ion-grid>
        <ion-row class="tabla1">
          <h2>{{ documentMusica.data.autor }}</h2>
        </ion-row>
        <ion-row class="tabla2">
          <p>{{ documentMusica.data.nombre_musica }}</p>
        </ion-row>
        <ion-row class="tabla3">
          <p>{{ documentMusica.data.fecha_lanzamiento }}</p>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-fab-button class="pag_secundaria"(click)="clickBotonInsertar()">+</ion-fab-button>
</ion-content>